
@{
    ViewBag.Title = @ViewBag.Message;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
<div>
    <div class="alert alert-danger" role="alert">
        @ViewBag.Title
    </div>
</div>
</body>
</html>
